.player-card {
    border-bottom: cadetblue 1px solid;
    padding: 7%;
    background-color: blue;
}

.score-card {
    border-bottom: cadetblue 1px solid;
    padding: 7%;
    background-color: blue;
}